// Define variables for your color scheme

// For example:
$red: #EE5F5B;
// $blue: #469AE0;
// $orange: #E67E22;
// $green: #32B796;
// $light-grey: #F4F4F4;
// $black: #000000;
$light-grey: rgb(241,241,238);
$white: white;
// 669933

$yellow: #FFE600;
$charcoal: black;
$grey: $charcoal;

$secondary-color-light: $yellow;
$secondary-color-dark: $charcoal;
