.section {
	display: flex;
	h2{
		padding-bottom: 10px;
	}
	hr {
	    display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid #ccc;
	    margin: 1em 0;
	    padding: 0;
	    margin-bottom: 30px;
	}

	p{
		text-align: justify;
  }
  .team-titles h4{
    font-size:18px;
  }
}

.right-team{
	padding: 60px 60px 60px 60px;
}

.left-team{
	padding: 60px 60px 60px 60px;
}

#fourfive-div{
  padding: 0px 5%;
	.fourfive-text{
		column-count: 2;
		column-gap: 134px;
		margin-bottom: 60px;
	}
	h2{
		margin-bottom: 15px;
	}
	p{
		text-align: justify;
	}
}

@media(max-width:985px){
	.section{
		flex-direction: column;
		align-items: center;
  }

  #domsection{
    flex-direction: column-reverse;
  }

	.right-team{
		padding: 5%;
	}

	.left-team{
		padding: 5%;
	}

	.team-titles{
    display: flex;
    h2{
      padding: 0px;
    }
    h4{
      padding-left: 40px;
      padding-top: 12px;
    }
  }

	.fourfive-text{
		column-count: 1 !important;
	}
}
