.info-line{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  h5 {
    font-weight: lighter;
  }
  h3{
    font-size: 20px;
    font-weight: bolder;
  }
  p{
    max-width: 372px;
    margin: auto;
    margin-top: 15px;

  }
  #founder{
    margin-bottom: 0;
  }
}

.stripes{
  position: relative;
  z-index: 2;
  margin-top: -4%;
}

.fat-yellow-stripe{
    width: 166px;
    background-color: #FFE600;
    height: 7px;
    margin: auto;
    margin-top: 8px;
}

.graphics{
  background-color: $yellow;
  #for-the-active{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 18px;
    margin-top: -30px;
  }

  .graphic-icons{
    display: flex;
    justify-content: space-around;
    margin-bottom: -15px;
    padding-top: 10px;
    p{
      max-width: 200px;
    }
    .how-it-works-text{
      text-align: center;
      margin-top: 20px;
    }
  }
}

.our-story{
  text-align: center;
  h2 {
    font-weight: bold;
    margin-bottom: 8px;
  }
  h5 {
    margin-top: 0;
    font-weight: lighter;
  }
  .simple-btn {
    margin-top: 16px;
  }
}

// Mobile
.product-info{
  a{
    color: $charcoal;
  }
}

@media(max-width:750px){
  .product-info{
    margin-bottom: 70px !important;

  }
  .graphics .graphic-icons{

      flex-direction:column;
  }
}

#carousel-example-generic{
  &:focus{
    outline: none;
  }
}

@media only screen and (max-width: 992px) {
  .border-bottom h3{
    text-align: center;
  }
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  padding: 50px;

  .btn-lg{
    margin-left: 10px;
  }
}

#dom{
  padding-bottom: 40px;
  padding-top: 30px;
  margin-left: -90px;
}


.cart{
  margin-left: -70px;
}

select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
}

@media(min-width: 1200px){
  .shorter-row{
    margin-left: 200px;
    margin-right: 200px
  }
}

@media(max-width: 580px){
  img.center-block{
    height: 250px !important;
    margin-top: 20%;
  }
}

.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}

// Override bootstrap just for the homepage, but maybe everything??


.homepage-cartoon {
  width: 100%;
  height: auto;
}

.press {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  flex: 1;
  margin: -16px 0;

  .press-item {
    flex: 1 1;
    svg {
      width: 100%;
      padding: 0 10%;
      text {
        font-weight: lighter;
      }
    }
    img {
      width: 100%;
      padding: 0 10%;
    }
  }
}

.contact {
  border-top: solid 2px #f1f1ee;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  .contact-option {
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    i {
      font-size: 18px;
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 0;
    }
    a {
      color: #333333
    }
  }
}

@media(min-width: 992px){
  .homepage-cartoon {
    width: 65%;
  }
}


@media(max-width: 600px) {
  .contact {
    flex-direction: column;
    .contact-option {
      margin: 16px 0;
    }
  }
}
