.terms {
  margin-top: 16px;
  p {
    margin-bottom: 8px;
  }
}

.basket-header {
  font-size: 40px;
}

.grey{
  color: $light-grey;
}

.yellow-box{
  background-color: $yellow;
  width: 50px;
}

tbody {
  border: 2px solid black !important;
}

th {
  text-align: right;
  border-bottom: none !important;
}

td {
  border-top: none !important;
  border: 1px solid black;
}

tfoot td {
  border: none;
}

.ft-border-bold {
  border: 1px solid black;
  font-weight: bold;
  text-align: right;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.delete {
  color: $yellow;
  text-align: center;
}

.qualifier {
  margin: 16px 0;
  border: 1px dotted black;
  padding: 16px;
  font-size: 12px;
}

.cart-button-margin {
  margin: 4px 8px;
}

.cart-actions {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 -16px;
  }

  .cart-actions-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-actions-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }

@media (min-width: 768px) {
  .cart-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-actions-left {
    display: flex;
    flex-direction: row;
  }

  .cart-actions-right {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
  }

  .cart-button-margin {
  margin: 0 16px 16px;
  }
}

@media (max-width: 767px){
  table {
    margin: 24px 0;
  }
  .basket-header {
    margin-top: -24px;
  }
}

.cart-flex {
  display: flex;
  justify-content: space-around;
  button {
    border: none;
    background-color: transparent;
    font-size: 12px;
  }
  button:hover {
    color: $yellow;
  }
  button:active {
    color: rgb(245,220,0)
  }
}
