.grey{
  color: $light-grey;
}

.yellow-box{
  background-color: $yellow;
  height: inherit;
  width: 50px;
}

.checkout-box{
  border-left: 1px solid $charcoal;
  flex-grow: 1;
}

.summary{
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase{
  padding: 30px;
  // width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey-stripe{
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
}
