.basket-header {
  font-size: 40px;
}

.grey{
  color: $light-grey;
}

.yellow-box{
  background-color: $yellow;
  width: 50px;
  // height: 10px;
  // width: 50px;
  // border-right: 1px solid $charcoal;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase{
  padding: 30px;
  // width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey-stripe{
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
}

tbody {
  border: 2px solid black !important;
}

th {
  text-align: right;
  border-bottom: none !important;
}

td {
  border-top: none !important;
  border: 1px solid black;
}

tfoot td {
  border: none;
}

.ft-border-bold {
  border: 1px solid black;
  font-weight: bold;
  text-align: right;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.delete {
  color: $yellow;
  text-align: center;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin: 32px -16px;
}

.cart-actions-left {
  display: flex;
}

.cart-actions-right {
  display: flex;
}

table {
  margin: 0 !important;
}

.qualifier {
  margin-bottom: 32px;
  border: 1px dotted black;
  padding: 16px;
  font-size: 12px;
}
