.product-index{
  // margin-top: 250px;
  display: flex;
}

.product-right{
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: center;
}


.product-right h2{
  font-weight: bolder;
}

@media(max-width: 900px){
  .product-index{
    flex-direction: column
  }

  .product-right{
    padding: 10px 10%;
    width: 100%;
    .desc{
      h2{
        text-align: center;
      }
    }
  }
}
