.product-info{
  display:flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.desc{
  width: 100%;
  p{
    text-align: justify;
  }
}

.more-info {
  margin-top: 56px;
  .text-lighter {
    font-weight: lighter;
    font-size: 15px;
    white-space: nowrap;
  }
  i {
    font-size: 6px;
    transform: translate(0, -2px);
    color: rgb(200,200,200)
  }
  p {
    font-weight: lighter;
    max-width: 365px;
  }
  .image-margin {
    margin-left: -16px;
  }
}

.selection p{
  margin-bottom: 0px;
}

#product-photo{
  max-width: 75%;
}

.product-info.text p{
margin-right:20%;
}

@media(max-width: 400px){
  #product-photo{
    max-width: 100%;
  }
  #product-name{
    margin-right: 0px !important;
    text-align: center;
  }
  .product-info{
    .text p{
      margin-right: 0px;
      margin-bottom: 0px;
      text-align: justify;
    }
  }


}

