.product-info{
  display:flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.product-submit{
  display:flex;
  justify-content: center;
}

.desc{
  width: 100%;
  p{
    text-align: justify;
  }
}

.more-info {
  margin-top: 56px;
  .text-lighter {
    font-weight: lighter;
    font-size: 15px;
    white-space: nowrap;
  }
  i {
    font-size: 6px;
    transform: translate(0, -2px);
    color: rgb(200,200,200)
  }
  p {
    font-weight: lighter;
    max-width: 365px;
  }
  .image-margin {
    margin-left: -16px;
  }
}
