<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.65) 100%, rgba(0,0,0,0.65) 100%), url(<%= image_url('home.jpg') %>);">
      <% if @header %>
    <div class="banner-content">
      <h1><%= header%></h1>
        <a class="btn btn-primary btn-lg home" href="/">
          Home
        </a>
    </div>
  </div>
  <% end %>
  <% if @tab %>
  <div class="tab">
    Flow CBD
  </div>
  <% end %>
</div>
