<%= button_to cart_items_path, params: { quantity: q, size: size, tincture: tincture }, id: "buy-with-dropdown", class: "flex  add-to-cart no-button" do %>
  <p id="pad-right">Buy now</p>
  <div class="vertical-line"></div>
  <p id="pound">£</p>
  <p id="price"><%= humanized_money price %></p>
<% end %>
