<div class="footer">
  <div class="content">
    <% unless @disable_stripe %>
      <div class="white-stripe"></div>
      <div class="yellow-stripe"></div>
    <% end %>
    <div class="footer-graphics">
      <a href="https://www.instagram.com/fourfivecbd/" target="_blank"><i class="fab fa-instagram fa-1x"></i></a>
      <a href="https://www.facebook.com/fourfivecbd/" target="_blank"><i class="fab fa-facebook fa-1x"></i></a>
      <a href="https://twitter.com/fourfivecbd" target="_blank"><i class="fab fa-twitter fa-1x"></i></a>
    </div>
    <div class="thin-grey-line" style="width: 100%; margin: 20px auto"></div>
    <div class="formal">
      <!-- <p style="max-width: 300px;">
      All of our products are sold as food supplements and not intended to diagnose, cure, prevent or treat disease. Always consult your health professional before taking any food supplements. We source our hemp from Croatia, Slovenia, Czech Republic and Slovakia.
      </p> -->
      <% if false %>
      <div class="links">
        <div><%= link_to "Privacy Policy", privacy_policy_path, class: "navbar-hd-item navbar-hd-link" %></div>
      </div>
      <% end %>
      <ul class="links">
        <li><%= link_to "Privacy Policy", privacy_policy_path, class: "navbar-hd-item navbar-hd-link" %></li>
        <li><p style="margin: 3px 0 0 0px;"> | </p></li>
        <li><%= link_to "Terms and Conditions", privacy_policy_path, class: "navbar-hd-item navbar-hd-link" %></li>
      </ul>

      <div class="disclaimer">
        All of our products are sold as food supplements and not intended to diagnose, cure, prevent or treat disease. Always consult your health professional before taking any food supplements. We source our hemp from Croatia, Slovenia, Czech Republic and Slovakia.
      </div>
      <div class="disclaimer">
        All products contain less than 0.20% THC
      </div>
      <div class="copyright">
        <p><span style="font-weight:bolder">fourfive</span> cbd All Rights Reserved <i class="far fa-copyright"></i></p> <!-- far for FontA 5-->
      </div>
    </div>
  </div>
</div>

