<div class="footer">
  <div class="content">
    <% unless @disable_stripe %>
      <div class="white-stripe"></div>
      <div class="yellow-stripe"></div>
    <% end %>
    <div class="footer-graphics">
      <a href="https://www.instagram.com/fourfivecbd/" target="_blank"><i class="fab fa-instagram fa-1x"></i></a>
      <a href="https://www.facebook.com/fourfivecbd/" target="_blank"><i class="fab fa-facebook fa-1x"></i></a>
      <a href="https://twitter.com/fourfivecbd" target="_blank"><i class="fab fa-twitter fa-1x"></i></a>
    </div>
    <div class="thin-grey-line" style="width: 100%; margin: 20px auto"></div>
    <div class="formal">
      <ul class="links">
        <li><%= link_to "Terms and Conditions", terms_and_conditions_path, class: "navbar-hd-item navbar-hd-link" %></li>
      </ul>

      <div class="disclaimer">
        All of our products are sold as food supplements and not intended to diagnose, cure, prevent or treat disease. Always consult your health professional before taking any food supplements. We source our hemp from Croatia, Slovenia, Czech Republic, Slovakia and the Netherlands.
      </div>
      <div class="disclaimer">
        All products contain less than 0.20% THC
      </div>
      <div class="copyright">
        <p><span style="font-weight:bolder">fourfive</span> cbd All Rights Reserved <i class="far fa-copyright"></i></p> <!-- far for FontA 5-->
      </div>
    </div>
  </div>
  <div class="logos">
    <div class="payment-logos">
      <%= image_tag "visa.png", crop: :scale, quality: :auto, fetch_format: :auto, height: 70, flags: "lossy" %>
      <%= image_tag "mastercard.png", crop: :scale, quality: :auto, fetch_format: :auto, height: 50, flags: "lossy" %>
    </div>
    <%= image_tag "cta.png", id: "cta", crop: :scale, quality: :auto, fetch_format: :auto, height: 50, flags: "lossy" %>
  </div>
</div>

