<div class="footer">
  <div class="content">
    <% unless @disable_stripe %>
      <div class="white-stripe"></div>
      <div class="yellow-stripe"></div>
    <% end %>
    <div class="footer-graphics">
      <!-- <a href="#"><i class="fa fa-github fa-2x"></i></a> -->
      <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
    <div class="f-line">
      <div class="footer-line"></div>
    </div>
    <div class="formal">
      <ul class="links">
        <li><%= link_to "Privacy Policy", privacy_policy_path, class: "navbar-hd-item navbar-hd-link" %></li>
        <li><p style="margin: 3px 0 0 0px;"> | </p></li>
        <li><%= link_to "Terms and Conditions", privacy_policy_path, class: "navbar-hd-item navbar-hd-link" %></li>
      </ul>
      <div class="copyright">
        <p>FourFive CBD All Rights Reserved <i class="fa fa-copyright"></i></p> <!-- far for FontA 5-->
      </div>
    </div>
  </div>
</div>

