<p>Thank you for your purchase!</p>

<p>Your order will be dispatched by Royal Mail, signed for First Class. If you purchased before 2pm, your order will arrive the following day.</p>

<p>We hope you enjoy the product.</p>

<p>Any questions please get in touch, contact@fourfive.co.uk</p>

<p>We are also online so feel free to show us some love. </p>

<p>George & Dom</p>

