<div class="container">
	<div class="section">
		<%= image_tag "george.jpg", size: "352x500", style: "margin-left: 30px;" %>
		<div class="right-team">
			<div class="team-titles">
        <h2>George Kruis</h2>
			  <h4>Professional rugby player & founder of <span class="bold">fourfive</span> & </h4>
			</div>
      <hr />
			<p>George has been playing professional rugby for 10 years and is a seasoned international and British Lion. He has over 150 appearances for Saracens winning 2 European titles and 3 Premiership trophies.</p>
    </div>
	</div>
	<div class="section">
		<div class="left-team">
    <div class="team-titles">
      <h2>Dom Day</h2>
      <h4>Professional rugby player & founder of <span class="bold">fourfive</h4>
    </div>
    <hr />
			<p>Dom has been playing professional rugby for 14 years with over 250 top flight games to his name. Starting in Wales his career took him to England, Japan, Australia and he now plays for English Premiership club Saracens. Dom also had a spell with the Wales national side and played in the 2015 World cup. </p>
		</div>
		<%= image_tag "dom.jpg", size: "380x500" %>
	</div>
	<div id="fourfive-div" style="margin: 0px 5%;">
		<h2 class="border-bottom" style="padding-bottom: 10px;"><span class="bold">fourfive</span> cbd</h2>
		<div class="fourfive-text">
			<p>Between us we have 20 years experience in professional sport and have been under the surgeons knife 12 times. We have played and trained through pain and injury a lot more often than we would have liked.
			</p>
			<p>We didn’t want to keep relying on prescription pain killers and anti-inflammatories to keep us on the pitch because of their negative side effects. So we began to look for other solutions… and that's when we discovered the benefits of legal cbd products. </p>
			<p>
			Our recovery and rehab routines no longer involve taking harmful prescription pills, but 100% natural and organic cbd products. </p>
			<p>Now we want to create the best cbd products on the market, specifically designed and inspired by our experience of the thrilling yet punishing world of sport.
      </p>
			<p>
			We are committed to bringing you the highest grade cbd product and are proud to offer all-natural, organic and lab-tested cbd oils.
			</p>
		</div>
	</div>
</div>
