<div class="banner" id="about_banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 100%, rgba(0,0,0,0.4) 100%), url(<%= image_url('domgeorge.jpg') %>);">
  <!-- <div class="big-l-line"></div> -->
    <div class="banner-content-flex">
      <h1>About us</h1>
      <p>Learn more about our team</p>
    </div>
  <!-- <div class="big-r-line"></div> -->
  <div class="tab">
    Learn more
  </div>
</div>

<div class="container">
  <%= image_tag  "cartoon.pdf" %>
</div>






























<% if false %>
<div class="container">
	<div class="section">
		<%= image_tag "dom.png", size: "500x500" %>
		<div class="right-team">
			<div class="team-titles">
				<h2>Dominic Day</h2>
				<h4>Co-Founder  - Professional Rugby Player</h4>
			</div>
			<hr />
			<p>Dominic has been playing professional rugby for 14 years and has over 250 top flight games to his name. Starting in West Wales his career took to England, Japan, Australia and he now plays for English Premiership club Saracens. Dominic also had a spell with the Wales national side and played in the 2015 World cup which took place in England. </p>
		</div>
	</div>
	<div class="space"></div>
	<div class="section">
		<div class="left-team">
    <div class="team-titles">
			  <h2>George Kruisz</h2>
			  <h4>Co-Founder  - Professional Rugby Player</h4>
			</div>
      <hr />
			<p>George has been playing professional rugby for 10 years and is a seasoned international and British Lion. He has over 150 appearances for Saracens winning 2 European titles and 3 Premiership trophies. Still only 28 George has plenty left to achieve.</p>
		</div>
		<%= image_tag "george.png", size: "500x500" %>
	</div>
	<div class="space">

	</div>
	<div class="flow">
		<h2>FlowCBD</h2>
		<div class="flow-text">
			<p>Co-founders Dominic and George each have over 10 years experience in professional sport. Between them they have been under the surgeons knife 12 times and have played and trained through pain and injury more often than they would have liked.
			</p>
			<p>Being fully aware that they could not keep relying on prescription pain killers and anti inflammatories to keep them on the pitch due to their nasty side effects they began to look for other answers. After some in-depth research they discovered the benefits of legal CBD products. </p>
			<p>
			Now their recovery and rehab routines no longer involve taking harmful prescription pills, but 100% natural and organic CBD products. They can perform and live not having to worry about harmful side effects.</p>
			<p>We at FlowCBD want you to experience the results and feel the benefits whilst having the peace of mind that you are taking the best product on the market.</p>
			<p>
			We are committed to bringing you the highest grade CBD product and are proud to offer all natural, lab tested, organic CBD oils.
			</p>
		</div>
	</div>
</div>

<% end %>
