<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content-flex">
    <h1>About us</h1>
    <p>Learn more about our team</p>
  </div>
  <%= image_tag "rline.png", class: "right-line" %>
  <div class="tab">
    Learn more
  </div>
</div>
