<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content-flex">
    <h1>Contact us</h1>
  </div>
  <%= image_tag "rline.png", class: "right-line" %>
  <%= link_to :anchor => "graphics" do %>
	<div class="tab">
	  Learn more
	</div>
  <% end %>
</div>
