<div class="container" id="faq">
  <div class="border-bottom">
      <h3 style="font-weight: bolder; text-align: center;">Learn more about cbd oil and <span class="bold"> fourfive</span> cbd.</h3>
      <div class="jaflex">
        <h5 class="lighter" style="text-align: center;">Below are the answers to some of the most often asked questions about our products, our payment methods and our shipping policy. If there’s anything you want to know which hasn’t already been covered here please do get in touch with us at contact@fourfivecbd.co.uk</h5>
      </div>
  </div>

  <div class="accordion" id="education">
    <div class="card-accordion">
      <div class="card-header" id="headingOne">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            What is cbd?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#education">
        <div class="card-body">
         <p>
Known as cbd, cannabidol is a natural compound found in hemp. We extract it using CO2 then mix it with coconut oil to create our CBD oil.         </p>
       </div>
      </div>
    </div>
    <div class="card-accordion">
          <div class="card-header" id="headingTwo">
            <h5 class="accordion-box">
              <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Why do people take cbd? 
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#education">
            <div class="card-body">
             <p>
Similar to how we use vitamins to boost our immune system, we can use cbd to supplement our endocannabinoid system (ecs). The ecs is the bodies main regulatory system and is made up of receptors that help balance our immune system and central nervous system. Our ecs is also involved in mediating some physiological and cognitive effects of physical exercise.
           </div>
          </div>
        </div>

    <div class="card-accordion">
      <div class="card-header" id="headingThree">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Is cbd Legal?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#education">
        <div class="card-body">
          <p>
Yes, cbd is legal. It has also been a permitted substance on professional athlete’s drug tests, listed by WADA and Global Dro, since January 2018. While cbd is legal throughout the EU, we still recommend caution when travelling with it. When travelling outside of Europe we strongly recommend not bringing your fourfive cbd.        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFour">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Is cbd organic?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#education">
        <div class="card-body">
          <p>
Yes, our plants are grown without the use of any pesticides, herbicides, artificial fertilisers or harmful chemicals.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFive">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Is cbd addictive?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#education">
        <div class="card-body">
          <p>
No, cbd doesn’t produce an excessive release of dopamine to create addiction. While other cannabinoids like the better-known THC offer psychoactive effects, cbd does not.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingSix">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
What is your returns policy?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#education">
        <div class="card-body">
          <p>
Once an order has been dispatched you may return the goods within 30 days of receipt. All returned items must be in be in new and unused condition, with original seals intact and original tags and labels attached. If the product has been used or opened we cannot accept a return due to the risk of contamination.
          </p>
          <p>To return goods or any questions about our returns policy please contact us via email quoting your order number and address to the following email: contact@fourfivecbd.co.uk</p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-bottom">
    <h5>More details</h5>
  </div>

  <div class="accordion">
    <div class="card-accordion">
      <div class="card-header" id="headingSeven">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            How do I know which product is best for me?

          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#education">
        <div class="card-body">
          <p>

If you are after a faster impact with quicker-absorption we recommend you try our cbd oils. For a slower-releasing and longer-lasting effect we would suggest our capsules. For anything external and skin related, our balms are what you’re looking for.
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingEight">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
How do I know which strength is best for me?
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#education">
        <div class="card-body">
          <p>

If you are new to cbd use, we recommend you start with our lower strength cbd products. We’ve classed our products as lower, regular and higher strength to help you easily navigate the range. We also let you know exactly how many milligrams there are within each bottle so you can choose to your specification.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
          <div class="card-header" id="headingNine">
            <h5 class="accordion-box">
              <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
How much cbd do you recommend I take?
              </button>
            </h5>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#education">
            <div class="card-body">
              <p>

Everyone responds differently to cbd. If you are a new user, we recommend you start with our lower strength product, taking 2-3 drops twice a day. When you understand the product a bit more, you can increase your dosage from there.
              </p>
            </div>
          </div>
        </div>
    <div class="card-accordion">
      <div class="card-header" id="headingTent">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseTent" aria-expanded="false" aria-controls="collapseTent">
            When will the effects begin?
          </button>
        </h5>
      </div>
      <div id="collapseTent" class="collapse" aria-labelledby="headingTent" data-parent="#education">
        <div class="card-body">
          <p>

It does depend on the way you take the products. Capsules typically have a slower release, while oral sprays are absorbed quicker. Both our capsules and our sprays are blended with coconut oil, which is added to aid the speed of absorption.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingEleven">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            How long will the effects last?
          </button>
        </h5>
      </div>
      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#education">
        <div class="card-body">
          <p>
Typically around 3 to 5 hours, depending on the strength of the product. Around this time, the effects will start to fade as the dose falls below levels that produce noticeable benefits.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingTwelve">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
Why do you use coconut oil?
          </button>
        </h5>
      </div>
      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#education">
        <div class="card-body">
          <p>

Coconut oil contains medium chain triglycerides, which are a type of dietary fat that can help improve sports performance, cognitive ability and weight management. It is easily broken down and processed by the body which makes it a great carrier for cbd.          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingThirteen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
What is the relationship between cbd and the body?

          </button>
        </h5>
      </div>
      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#education">
        <div class="card-body">
          <p>The ecs is the bodies main regulatory system and is associated with cbd. The ecs is made up of two main receptors, cb1 and cb2. The ecs is also involved in mediating some of the physiological and cognitive effects of voluntary physical exercise.</p>
          <p>Cb1 receptors are concentrated in the brain and central nervous system. Cb1 receptors influence such things as mood, sleep, thinking, appetite, perception of pain, memory, temperature, anxiety and stress. </p>
          <p>Cb2 receptors are mainly found in the immune system. Cb2 receptors influence pain, inflammation and the immune system.</p>
          <p>Our body produces small amounts of cannabinoids to pass through cb1 and cb2 receptors to try maintain a healthy balance, but usually our bodies need more cannabinoids than it can produce. Cbd can help your ecs naturally produce more of its own cannabinoids to regulate your body and support a healthy body.</p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFourteen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
How can I get in contact with you?
          </button>
        </h5>
      </div>
      <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#education">
        <div class="card-body">
          <p>
Just give us an email at contact@fourfivecdb.com
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFifteen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
Do you sell wholesale? 
          </button>
        </h5>
      </div>
      <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#education">
        <div class="card-body">
          <p>
Yes we do, please get in touch with us at for more information at contact@fourfivecbd.com 
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingSixteen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
How long will my order take? 
          </button>
        </h5>
      </div>
      <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#education">
        <div class="card-body">
          <p>
1-2 working days. All our products are sent next day signed for delivery if ordered before 2 o’clock.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingSeventeen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
  Where do you ship to?
          </button>
        </h5>
      </div>
      <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#education">
        <div class="card-body">
          <p>
  We currently only ship to the U.K. 
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingEighteen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
How much do you charge for shipping?
          </button>
        </h5>
      </div>
      <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#education">
        <div class="card-body">
          <p>
Absolutely nothing, the shipping costs are on us.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingNineteen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
What payment methods do you accept?
          </button>
        </h5>
      </div>
      <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#education">
        <div class="card-body">
          <p>
We accept Visa, Mastercard and bank transfers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="space"></div>
