<div class="container" id="faq">
  <div class="border-bottom">
    <h3>Frequently Asked Questions</h3>
  </div>

  <div class="border-bottom">
    <h5>The Basics</h5>
  </div>

  <div class="accordion" id="education">
    <div class="card-accordion">
      <div class="card-header" id="headingZero">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover " type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
            Who are <span style="font-weight:bolder">fourfive</span>?
          </button>
        </h5>
      </div>

      <div id="collapseZero" class="collapse in" aria-labelledby="headingZero" data-parent="#education">
        <div class="card-body">
         <p>
We’re George Kruis and Dominic Day, two international rugby players who discovered the benefits of cbd during our professional careers. Cbd helped us rest after training, recover between games and rise to perfom at the highest level.  Now we want to create the best products to help you perform to your highest level.         </p>
       </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingOne">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            What is cbd?
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#education">
        <div class="card-body">
         <p>
Known as cbd, cannabidol is a natural compound found in hemp. We extract it using CO2 then mix it with olive oil or coconut oil to create CBD oil.         </p>
       </div>
      </div>
    </div>

    <div class="card-accordion">
      <div class="card-header" id="headingTwo">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Is cbd Legal?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#education">
        <div class="card-body">
          <p>
Yes, cbd is legal. It has also been a permitted substance on professional athlete’s drug tests, listed by WADA and Global Dro, since January 2018          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingThree">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Is cbd organic?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#education">
        <div class="card-body">
          <p>
Yes, our plants are grown without the use of any pesticides, herbicides, artificial fertilisers or harmful chemicals.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFour">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Is cbd addictive?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#education">
        <div class="card-body">
          <p>
No, cbd doesn’t produce an excessive release of dopamine to create addiction. While other cannabinoids like the better-known THC offer psychoactive effects, cbd does not.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-bottom">
    <h5>More details</h5>
  </div>

  <div class="accordion">
    <div class="card-accordion">
      <div class="card-header" id="headingFourFive">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFourFive" aria-expanded="false" aria-controls="collapseFourFive">
Why do you use coconut oil?
          </button>
        </h5>
      </div>
      <div id="collapseFourFive" class="collapse" aria-labelledby="headingFourFive" data-parent="#education">
        <div class="card-body">
          <p>

Coconut oil contains medium chain triglycerides, which are a type of dietary fat that can help improve sports performance, cognitive ability and weight management. It is easily broken down and processed by the body which makes it a great carrier for cbd.          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFive">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Why use cbd?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#education">
        <div class="card-body">
          <p>

Similar to how we use vitamins to boost our immune system, we can use cbd to supplement our endocannabinoid system (ecs). The ecs is the bodies main regulatory system and is made up of receptors that help balance our immune system and central nervous system. Our ecs is also involved in mediating some physiological and cognitive effects of physical exercise.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingSix">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How do I know which product is best for me?

          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#education">
        <div class="card-body">
          <p>

If you are after a faster impact with quicker-absorption we recommend you try our cbd oils. For a slower-releasing and longer-lasting effect we would suggest our capsules. For anything external and skin related, our balms are what you’re looking for.          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingSeven">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
How do I know which strength is best for me?
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#education">
        <div class="card-body">
          <p>

If you are new to cbd use, we recommend you start with our lower strength cbd products. We’ve classed our products as lower, medium and regular strength to help you easily navigate the range. We also let you know exactly how many milligrams there are within each bottle so you can choose to your specification.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
          <div class="card-header" id="headingSixSeven">
            <h5 class="accordion-box">
              <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSixSeven" aria-expanded="false" aria-controls="collapseSixSeven">
How much cbd do you recommend I take?
              </button>
            </h5>
          </div>
          <div id="collapseSixSeven" class="collapse" aria-labelledby="headingSixSeven" data-parent="#education">
            <div class="card-body">
              <p>

Everyone responds differently to cbd. If you are a new user, we recommend you start with our lower strength product, taking 2-3 drops twice a day. When you understand the product a bit more, you can increase your dosage from there.
              </p>
            </div>
          </div>
        </div>
    <div class="card-accordion">
      <div class="card-header" id="headingEight">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            When will the effects begin?
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#education">
        <div class="card-body">
          <p>

It does depend on the way you take the products. Capsules typically have a slower release, while oral sprays are absorbed quicker. Both our capsules and our sprays are blended with either olive oil or coconut oil, which add to aid the speed of absorption.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingNine">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            How long will the effects last?
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#education">
        <div class="card-body">
          <p>
Typically around 3 to 5 hours, depending on the strength of the product. Around this time, the effects will start to fade as the dose falls below levels that produce noticeable benefits.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingNine">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
How can I get in contact?
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#education">
        <div class="card-body">
          <p>
You can email our operations team with any questions to contact@fourfivecbd.com. They will attempt to answer emails within an hour but if they’re particularly busy fulfilling order we promise to get back to you within 24 hours. If it is an urgent enquiry please call our operations manager Mike on 07826 272557.
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingNine">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
How long will my order take? 
          </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#education">
        <div class="card-body">
          <p>
All orders are shipped on the same day if you order before 4pm. We provide free UK shipping so you can expect to receive your parcel within 2-3 working days. We also offer next working day delivery!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="space"></div>
