<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content-flex">
    <h1>Privacy Policy</h1>
    <p>Read here for the formal stuff</p>
  </div>
  <%= image_tag "rline.png", class: "right-line" %>
  <div class="tab">
    Our policy
  </div>
</div>

