<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <h5>Refund Policy</h5>
  <p>In the event of being unsatisfied with the quality of the product, please contact us by email within 28 days of receiving the product for a full refund. Import duties are non-refundable. If the product is defective or damaged there is a full warranty period of 2 years.
  <h5>Currencies</h5>
  <p>All products are priced in Great British Pounds (sterling).</p>

  <h5>Billing Information</h5>
  <p>Payment must be received from the customer before any goods are dispatched.
  <span class="bold">fourfive</span> cbd reserves the right to select and modify acceptable payment methods.
  <span class="bold">fourfive</span> cbd reserves the right to refuse or cancel any order or service at our discretion.
  The customer agrees to ensure that all account information is up to date and relevant. <span class="bold">fourfive</span> cbd is not responsible for delays or additional costs caused by inaccurate information.
  In the event that the Customer’s order or service is cancelled, limited or halted, <span class="bold">fourfive</span> cbd will endeavor within reasonable limits to contact the Customer to explain the situation.</p>
  <h5>Condition of Use</h5>
  <p>Products sold by <span class="bold">fourfive</span> cbd may cause sedation or stimulation.
  Do not drive or operate dangerous machinery if you feel tired after taking these products.
  Products sold by <span class="bold">fourfive</span> cbd may conflict with your prescription medications.
  <span class="bold">fourfive</span> cbd  does not recommend combining our CBD products with prescription medications until you are sure there will be no conflict. The suggested usage refers to adults only.</p>
  <h5>Security</h5>
  <p><span class="bold">fourfive</span> cbd  uses SSL (Secure Sockets Layer) on all pages – this is to protect your personal details, including your physical address and email address.</p>
  <h5>Products & Services</h5>
  <p><span class="bold">fourfive</span> cbd reserves the right to modify or discontinue any product at any given time without any liability to the customer, or any third party.
  <span class="bold">fourfive</span> cbd cannot be held accountable for any variation in the color, smell or flavor of our products. <span class="bold">fourfive</span> cbd oil is a natural product, and is therefore subject to natural variations. We reserve the right, but are not obligated, to restrict sales to any individual, third party, jurisdictional region, or geographic region at our discretion.</p>
  <h5>Pricing</h5>
  <p>All prices found on the <span class="bold">fourfive</span> cbd website include VAT and other relevant taxes imposed by the government. Any costs included will be clearly stated. All prices and information present on the <span class="bold">fourfive</span> cbd website, and any literature derived from it, has been compiled with the greatest of care. However, <span class="bold">fourfive</span> cbd does not guarantee all information is accurate or current. No information supplied by <span class="bold">fourfive</span> cbd should be taken as advice or medical knowledge, it is for general purpose only. Any decision made based solely on the information on this website is done at your own risk. Further, our products are not sold to cure or assist any medical condition. <span class="bold">fourfive</span> cbd reserves the right to modify prices without a period of notice.</p>
  <h5>Privacy Policy</h5>
  <p>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context.
  Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
  <h5>What personal information do we collect from the people that visit our blog, website or app?</h5>
  <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information or other details to help you with your experience.</p>
  <h5>When do we collect information?</h5>
  <p>We collect information from you when you register on our site, place an order, subscribe to a newsletter, fill out a form or enter information on our site.</p>
  <h5>How do we use your information?</h5>
  <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways: To personalize user’s experience and to allow us to deliver the type of content and product offerings in which you are most interested. To improve our website in order to better serve you. To allow us to better service you in responding to your customer service requests. To quickly process your transactions. To send periodic emails regarding your order or other products and services</p>
  <h5>How do we protect visitor information?</h5>
  <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible. We use regular Malware Scanning. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. We implement a variety of security measures when a user places an order to maintain the safety of your personal information. All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
  <h5>Do we use ‘cookies’?</h5>
  <p>Like nearly all websites online we use cookies. Cookies are tiny text files which are stored on your computer. Cookies are useful for remembering whether you’ve visited the site before and so remembers your log in details, or your name and address from a previous order. You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser’s Help menu to learn the correct way to modify your cookies. If you disable cookies off, some features will be disabled that make your site experience more efficient and some of our services will not function properly. However, you can still place orders.</p>
  <h5>Third Party Disclosure</h5>
  <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
  <h5>Third party links</h5>
  <p>We do not include or offer third party products or services on our website.</p>

  <h5>Legal Considerations</h5>
  <p><span class="bold">fourfive</span> cbd abides by UK and EU law. Council Regulation (EC) 1672/2000 states that cannabis sativa plants containing 0.2% tetrahydrocannabinol or less can be approved for cultivation as hemp.</p>
  <h5>Company Information</h5>
  <p><span class="bold">fourfive</span> cbd is a brand of Flow Nutrition Ltd,</p>
  <p>registered in England</p>
  <p>Company number: 11559844 | VAT number: GB309262217</p>
  <p>2 Victoria Square,</p>
  <p>Victoria Street,</p>
  <p>St. Albans,</p>
  <p>United Kingdom</p>
  <p>AL1 3TF</p>
    </div>
  </div>
</div>

<div class="space"></div>
