
<div class="space"></div>





<div class="container" id="faq">
  <div class="border-bottom">
      <%# <h3 style="font-weight: bolder; text-align: center;">Our Privacy Policy</h3> %>
      <div class="jaflex">
        <h5 class="lighter" style="text-align: center;">Our Privacy Policy</h5>
      </div>
  </div>

  <div class="accordion" id="education">
    <div class="card-accordion">
      <div class="card-header" id="headingOne">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Refund Policy
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#education">
        <div class="card-body">
<p>In the event of being unsatisfied with the quality of the product, please contact us by email within 28 days of receiving the product for a full refund. Import duties are non-refundable. If the product is defective or damaged there is a full warranty period of 2 years.</p>
       </div>
      </div>
    </div>

    <div class="card-accordion">
      <div class="card-header" id="headingTwo">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Currencies
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#education">
        <div class="card-body">
<p>All products are priced in Great British Pounds (sterling).</p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingThree">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Billing Information
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#education">
        <div class="card-body">
          <p>Payment must be received from the customer before any goods are dispatched.
          </p>
          <p>
          <span class="bold">fourfive</span> cbd reserves the right to select and modify acceptable payment methods.
          <span class="bold">fourfive</span> cbd reserves the right to refuse or cancel any order or service at our discretion.
          The customer agrees to ensure that all account information is up to date and relevant. <span class="bold">fourfive</span> cbd is not responsible for delays or additional costs caused by inaccurate information.
          In the event that the Customer’s order or service is cancelled, limited or halted, <span class="bold">fourfive</span> cbd will endeavor within reasonable limits to contact the Customer to explain the situation. </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFour">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
           Condition of Use
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#education">
        <div class="card-body">
          <p>
<p>Products sold by <span class="bold">fourfive</span> cbd may cause sedation or stimulation.
Do not drive or operate dangerous machinery if you feel tired after taking these products.
Products sold by <span class="bold">fourfive</span> cbd may conflict with your prescription medications.
<span class="bold">fourfive</span> cbd  does not recommend combining our CBD products with prescription medications until you are sure there will be no conflict. The suggested usage refers to adults only.</p>          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-bottom">
    <h5>More details</h5>
  </div>

  <div class="accordion">
    <div class="card-accordion">
      <div class="card-header" id="headingFourFive">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFourFive" aria-expanded="false" aria-controls="collapseFourFive">
Security
          </button>
        </h5>
      </div>
      <div id="collapseFourFive" class="collapse" aria-labelledby="headingFourFive" data-parent="#education">
        <div class="card-body">
<p><span class="bold">fourfive</span> cbd  uses SSL (Secure Sockets Layer) on all pages – this is to protect your personal details, including your physical address and email address.</p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingFive">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Products & Services
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#education">
        <div class="card-body">
          <p>

<p><span class="bold">fourfive</span> cbd reserves the right to modify or discontinue any product at any given time without any liability to the customer, or any third party.
<span class="bold">fourfive</span> cbd cannot be held accountable for any variation in the color, smell or flavor of our products. <span class="bold">fourfive</span> cbd oil is a natural product, and is therefore subject to natural variations. We reserve the right, but are not obligated, to restrict sales to any individual, third party, jurisdictional region, or geographic region at our discretion.</p>
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingSix">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
Pricing
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#education">
        <div class="card-body">
<p>All prices found on the <span class="bold">fourfive</span> cbd website include VAT and other relevant taxes imposed by the government. Any costs included will be clearly stated. All prices and information present on the <span class="bold">fourfive</span> cbd website, and any literature derived from it, has been compiled with the greatest of care. However, <span class="bold">fourfive</span> cbd does not guarantee all information is accurate or current. No information supplied by <span class="bold">fourfive</span> cbd should be taken as advice or medical knowledge, it is for general purpose only. Any decision made based solely on the information on this website is done at your own risk. Further, our products are not sold to cure or assist any medical condition. <span class="bold">fourfive</span> cbd reserves the right to modify prices without a period of notice.</p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingSeven">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
Privacy Policy
    </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#education">
        <div class="card-body">

<p>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context.
Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
          </p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
          <div class="card-header" id="headingSixSeven">
            <h5 class="accordion-box">
              <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseSixSeven" aria-expanded="false" aria-controls="collapseSixSeven">
What personal information do we collect from the people that visit our blog, website or app?
              </button>
            </h5>
          </div>
          <div id="collapseSixSeven" class="collapse" aria-labelledby="headingSixSeven" data-parent="#education">
            <div class="card-body">
<p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information or other details to help you with your experience.</p>

            </div>
          </div>
        </div>
    <div class="card-accordion">
      <div class="card-header" id="headingEight">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
When do we collect information?
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#education">
        <div class="card-body">
<p>We collect information from you when you register on our site, place an order, subscribe to a newsletter, fill out a form or enter information on our site.</p>

        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingNine">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
Third Party Disclosure
      </button>
        </h5>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#education">
        <div class="card-body">
<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
<p>We do not include or offer third party products or services on our website.</p>

        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingTen">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
Legal Considerations
       </button>
        </h5>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#education">
        <div class="card-body">
<p><span class="bold">fourfive</span> cbd abides by UK and EU law. Council Regulation (EC) 1672/2000 states that cannabis sativa plants containing 0.2% tetrahydrocannabinol or less can be approved for cultivation as hemp.</p>
        </div>
      </div>
    </div>
    <div class="card-accordion">
      <div class="card-header" id="headingEleven">
        <h5 class="accordion-box">
          <button class="btn btn-link yellow-hover collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
Company Information
        </button>
        </h5>
      </div>
      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#education">
        <div class="card-body">
          <p><span class="bold">fourfive</span> cbd is a brand of Flow Nutrition Ltd,</p>
          <p>registered in England</p>
          <p>Company number: 11559844 | VAT number: GB309262217</p>
          <p>2 Victoria Square,</p>
          <p>Victoria Street,</p>
          <p>St. Albans,</p>
          <p>United Kingdom</p>
          <p>AL1 3TF</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="space"></div>
