
<div class="space"></div>
<div class="container" id="faq">
  <div class="border-bottom">
      <div class="jaflex">
        <h5 class="lighter" style="text-align: center;">Terms and Conditions</h5>
      </div>
  </div>


  <h5>Refund Policy</h5>
  <p>In the event of being unsatisfied with the quality of the product, please contact us by email within 30 days of receiving the product for a full refund. Import duties are non-refundable. If the product is defective or damaged there is a full warranty period of 2 years. To return goods or any questions about our returns policy please contact us via email quoting your order number and address to the following email: contact@fourfivecbd.co.uk</p>

  <h5>Currencies</h5>
  <p>All products are priced in Great British Pounds (sterling).</p>

  <h5>Billing Information</h5>
  <p>Payment must be received from the customer before any goods are dispatched.</p>
  <p><span class="bold">fourfive</span> cbd reserves the right to select and modify acceptable payment methods.</p>
  <p><span class="bold">fourfive</span> cbd reserves the right to refuse or cancel any order or service at our discretion.</p>
  <p> The customer agrees to ensure that all account information is up to date and relevant. <span class="bold">fourfive</span> cbd is not responsible for delays or additional costs caused by inaccurate information.</p>
  <p>In the event that the Customer’s order or service is cancelled, limited or halted, <span class="bold">fourfive</span> cbd will endeavor within reasonable limits to contact the Customer to explain the situation.</p>

  <h5>Condition of Use</h5>
  <p>Products sold by <span class="bold">fourfive</span> cbd may cause sedation or stimulation.</p>

  <p>Do not drive or operate dangerous machinery if you feel tired after taking these products.</p>
  <p>Products sold by <span class="bold">fourfive</span> cbd may conflict with your prescription medications.</p>
  <p><span class="bold">fourfive</span> cbd does not recommend combining our CBD products with prescription medications until you are sure there will be no conflict. The suggested usage refers to adults only.</p>
  <h5>Security</h5>
  <p><span class="bold">fourfive</span> cbd uses SSL (Secure Sockets Layer) on all pages – this is to protect your personal details, including your physical address and email address.</p>

  <h5>Products & Services</h5>
  <p><span class="bold">fourfive</span> cbd reserves the right to modify or discontinue any product at any given time without any liability to the customer, or any third party.</p>

  <p><span class="bold">fourfive</span> cbd cannot be held accountable for any variation in the colour, smell or flavour of our products. <span class="bold">fourfive</span> cbd Oil is a natural product, and is therefore subject to natural variations. We reserve the right, but are not obligated, to restrict sales to any individual, third party, jurisdictional region, or geographic region at our discretion.</p>
  <h5>Pricing</h5>
  <p>All prices found on the <span class="bold">fourfive</span> cbd website include VAT and other relevant taxes imposed by the government. Any costs included will be clearly stated. All prices and information present on the <span class="bold">fourfive</span> cbd website, and any literature derived from it, has been compiled with the greatest of care. However, <span class="bold">fourfive</span> cbd does not guarantee all information is accurate or current. No information supplied by <span class="bold">fourfive</span> cbd should be taken as advice or medical knowledge, it is for general purpose only. Any decision made based solely on the information on this website is done at your own risk. Further, our products are not sold to cure or assist any medical condition. <span class="bold">fourfive</span> cbd reserves the right to modify prices without a period of notice.</p>




</div>

<div class="space"></div>
