<div class="space"></div>
<% if false %>
  <%= link_to root_path, class: "navbar-hdn-brand logo" do %>
    <%= image_tag "logo_white.svg", height: 50 %>
  <% end %>
<% end %>


  <script src=<%="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=#{@checkoutId}"%> ></script>

  <form action=<%= "#{root_url}" %> class="paymentWidgets" data-brands="VISA VISADEBIT MASTER MASTERDEBIT"></form>
<div class="space"></div>
