/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $light-gray;
}
.alert-info {
  background: $primary-color-mid;
}
.alert-warning {
  background: $red;
}
