/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: -70px 0px 0px 0px;
  text-align: center;
  color: $light-grey;
}
.alert-info {
  background-color: $charcoal;
  span{
    color: $yellow;
  }
}

.alert-warning {
  background: $red;
}

.close{
  opacity: 1
}

#alert-no-margin{
  margin: none;
}
