.banner {
  color: $light-gray;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 30px;
  width: 350px;
  margin-top:30px;
}

.banner-content-flex{
  display:flex;
  flex-direction: column;
  position: relative;
}

.banner-content-flex p{
  margin-top: 0px;
}

.tab{
  position:absolute;
  bottom: 0;
  background-color: white;
  border-radius: 2px 2px 0px 0px;
  color: black;
  padding: 10px 100px;
  left: calc(50% - 157.5px);
  letter-spacing: 2px;
  font-size: 22px;
}

.tab_bottom{
  position:absolute;
  top: 0px;
  background-color: inherit;
  color: $light-gray;
  padding: 10px;
}

.team{
    position:relative;
}

.right-line{
  margin-left: -100px;
  margin-top: 15px;
}

.left-line{
  margin-right: -100px;
  margin-top: 15px;

}

@media(min-width:1199px){
  #left-p {
    padding-top : 3%;
    position: absolute;
    left: 30%;
    width: 38%;
  }
}

@media(max-width:1199px){
  #left-p {
    padding-top: 12%;
    position: absolute;
    left: 11%;
    width: 76%;
  }
}

@media(max-height:700px){
  .banner{
    // height: 130vh;
  }
}

.team{
  height: 150vh;
  background-position-x: center
}

.big-l-line{
  position: absolute;
  width: 203px;
  height: 212px;
  left: 28%;
  border: 1px solid #FFFFFF;
  border-right: none;
}

.big-r-line{
  position: absolute;
  width: 203px;
  height: 212px;
  right: 28%;
  border: 1px solid #FFFFFF;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-right: none;

}

@media(max-width: 1050px){
  .big-l-line{
  left: 19%;
  }

  .big-r-line{
  right: 19%;
  }
}

@media(max-width: 750px){
  .big-l-line{
  left: 10%;
  }

  .big-r-line{
  right: 10%;
  }
}
