.home{
  border-radius:30px;
  margin-top: 35px;
  width: 12vw;
}

.full-submit{
  width: 100%;
  margin-top: 20px;
  height: 44px;
}

.gradient{
  background-image: -webkit-linear-gradient(top, #487C3F, $primary-color-light);
  background-image: -moz-linear-gradient(top, #487C3F, $primary-color-light);
  background-image: -ms-linear-gradient(top, #487C3F, $primary-color-light);
  background-image: -o-linear-gradient(top, #487C3F, $primary-color-light);
  background-image: linear-gradient(to bottom, #487C3F, $primary-color-light);
}

.social-button {
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 15px auto;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#facebook-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/facebook.svg') no-repeat scroll 5px 4px / 30px 40px padding-box border-box;
    box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#facebook-connect:hover {
    text-decoration: none;
    background: rgb(60, 90, 154) url('https://eswarasai.com/projects/social-login/img/facebook-white.svg') no-repeat scroll 5px 4px / 30px 40px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    transition: all .3s ease-out;
    color: #FFF;
}
