.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  border-top: 1px solid rgb(240,240,240);
  height: 100px;
  .cart-item-details {
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .total-label {
      position: absolute;
      bottom: -80px;
      right: 0;
    }
    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      transition: 0.5s;
    }
    h2 {
      font-size: 14px;
      font-weight:lighter;
      margin-top: 0;
      margin-bottom: 16px;
    }
    p {
      margin: 0;
      font-weight: lighter;
    }
  }
  .cart-item-quantity {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    position: relative;
    height: 100%;
    .total-quantity {
      position: absolute;
      bottom: -80px;
    }
    .quantity-margin {
      margin: 0 8px;
    }
    button {
      border: none;
      background-color: transparent;
      font-size: 24px;
      font-weight: lighter;
    }
    button:hover {
      color: $yellow;
    }
    button:active {
      color: rgb(245,220,0)
    }
  }
  .cart-item-price {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    position: relative;
    height: 100%;
    .total-price {
      position: absolute;
      bottom: -80px;
    }
  }
  .delete {
    flex-grow: 1;
  }
}



.cart-item:hover {
  h1 {
    color: $yellow;
  }
}

@media(max-width: 500px) {
  .cart-item {
    padding: 24px 0;
  }
}

.last-cart-item {
  border-bottom: 1px solid rgb(240,240,240);
  margin-bottom: 80px;
}
