.product-card {
  height: 100%;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;

  .image-background{
    display: inline-block;
    justify-content: center;
    position: relative;
    a {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    img{
      height: 295px;
      width: 225px;
      vertical-align: baseline;
    }
  }
  .product-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 6px;
      font-weight: bolder;
    }
  }
  .btn{
    width: 70%;
  }
}

.default-photo {
  display: block;
}

.interactive-photo {
  display: none;
}

.image-background:hover .interactive-photo {
  display: block;
}

.image-background:hover .default-photo {
  display: none;
}

.card-and-line{
  &:hover{
    .yellow-background-hover{
      background-color: $yellow;
    }
  }
}

.thin-grey-line{
  height: 2px;
  background-color: $light-grey;
  width: 60%;
  margin: 2% auto;
}

.wider{
  width: 82% !important;
}


@media(min-width: 1000px){
  .review-card .review-image-gap{
    margin-right: 70px;
  }
}

@media(max-width: 700px){
  .review-card{
    .review-text{
      min-width: 0px;
    }

    .review-image-gap{
      height: 85px;
    }
    .review-text{
      h4{
        font-size: 18px;
        font-weight: bolder;
      }
      #position{
        font-style: italic;
      }
    }
  }
}


h4:hover {
  text-decoration: none;
  text-decoration-color: black;
}


// .review-card {
//   height: 400px;
//   width: 350px;
//   border: 1px black solid;
//   margin: 10px;
//   box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

//   .header {
//     height: 45%;
//     width: 100%;
//     background-color: black;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     color: $light-grey;
//     position: relative;
//     p {
//       position: absolute;
//       bottom: -5px;
//       left: 20px;
//     }
//     .avatar {
//       border-radius: 100%;
//       width: 100px;
//       height: 100px;
//     }
//   }

//   .body {
//     height: 55%;
//     width: 100%;
//     background-color: white;
//     padding: 20px;
//     overflow: hidden;
//   }
// }
