.product-card {
  height: 100%;
  text-decoration: none;

  .image-background{
    display: flex;
    justify-content: center;
    img{
      height: 308px;
      width: 205px;
      &:hover{
        // HOVER
      }
    }
  }
  .product-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 6px;
      font-weight: bolder;
    }
  }
  .btn{
    width: 70%;
  }
}
.card-and-line{
  &:hover{
    .yellow-hover{
      background-color: $yellow;
    }
  }
}


.review-card{
  // &:hover{
    // color: yellow;
  // }
  display: flex;
  justify-content: center;
  // finetune
  margin-left: -20px;
  .review-image-gap{
    margin-right: 30px;
    height: 85px;

  }
  .review-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // keeps cards in line
    min-width: 270px;
    h4{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    p{
      font-size: 15px;
      margin-bottom: 3px;
    }
    #position{
      font-weight: lighter
      // THIN
    }
  }
}

  .thin-grey-line{
    height: 2px;
    background-color: $light-grey;
    width: 60%;
    margin: 2% auto;
  }

  .wider{
    width: 82% !important;
  }

.our-story{
  text-align: center;
  margin: 40px auto;
}

@media(min-width: 1000px){
  .review-card .review-image-gap{
    margin-right: 70px;
  }
}

@media(max-width: 700px){
  .review-card{
    .review-text{
      min-width: 0px;
    }

    .review-image-gap{
      height: 85px;
    }
    .review-text{
      h4{
        font-size: 18px;
        font-weight: bolder;
      }
      #position{
        font-style: italic;
      }
    }
  }
}









// .review-card{

// }

// .product-card {
//   height: 100%;
//   position: relative;
//   background-color: white;
//   padding: 5px;
//   text-decoration: none;
//   margin-bottom: 40px;

//   // .image-div {
//   //   width: 100px;
//   // }
//   // img {
//   //   display: block;
//   //   width: 100%;
//   //   height: auto;
//   // }

//   &h4 {
//     position: absolute;
//   }
//   &:hover {
//     -webkit-box-shadow: 4px 3px 25px 2px rgba(0,0,0,0.6);
//     -moz-box-shadow: 4px 3px 25px 2px rgba(0,0,0,0.6);
//     box-shadow: 4px 3px 25px 2px rgba(0,0,0,0.6);
//   }
//   a {
//     text-decoration: none;
//     color:black;

//     &:hover {
//       text-decoration: none;
//       color:black;
//     }
//   }
// }

// .bar {
//   margin-top: 10px;
//   border-top: 1px solid black;

//   .top-row {
//     display: flex;
//     justify-content: space-between;
//     h4:hover {
//       text-decoration: none;
//     }
//   }
// }


h4:hover {
  text-decoration: none;
  text-decoration-color: black;
}


// .review-card {
//   height: 400px;
//   width: 350px;
//   border: 1px black solid;
//   margin: 10px;
//   box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

//   .header {
//     height: 45%;
//     width: 100%;
//     background-color: black;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     color: $light-grey;
//     position: relative;
//     p {
//       position: absolute;
//       bottom: -5px;
//       left: 20px;
//     }
//     .avatar {
//       border-radius: 100%;
//       width: 100px;
//       height: 100px;
//     }
//   }

//   .body {
//     height: 55%;
//     width: 100%;
//     background-color: white;
//     padding: 20px;
//     overflow: hidden;
//   }
// }
