.selections {
  max-width: 200px;
  margin-bottom: 24px;
  .selection {
    .field {
      margin-top: 8px;
      border: 1px solid black;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
      z-index: 2;
      position: relative;
      cursor: pointer;
      i {
        font-size: 24px;
      }
    }
    .drop-down {
      z-index: 1;
      position: relative;
      .drop-down-item {
        padding: 8px 16px;
        border: 1px solid rgb(200,200,200);
        color: rgba(0,0,0,0.5);
        margin-top: -1px;
        z-index:1;
        cursor: pointer;
        position: relative;
      }
      .drop-down-item:hover {
        color: $yellow;
        z-index: 2;
        border-color: #3c3c3c;
        position: relative;
        background-color: #3c3c3c;
      }
    }
  }
}

.collapsed-drop-down {
  height: 0px;
  padding: 0px !important;
}
