.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.5rem;
	background: white;
  position: relative;

  .footer-graphics {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:70px; //50 for green add 20
    a {
      color: grey;
      opacity: 0.6;
      text-decoration: none;
      font-size: 24px;
      padding: 0px 20px;
        &:hover {
          color: #FFE000;
        }
    }
  }
}

  .links{
    display: flex;
    color: black;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    li{
      padding: 8px;
    }
    a{
      text-decoration: none;
      color:black;
      &:hover{
        text-decoration: none;
        color: #FFE000;
      }
    }
  }
.copyright {
  color: $charcoal;
  display: flex;
  justify-content: center;
}

.footer-line {
  width: 280px;
  height: 2px;
  background-color: $charcoal;
}
.f-line {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.yellow-stripe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $yellow;
}

.white-stripe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  // background-color: $yellow;
}

li a{
  font-size: 15px;
}

