.ml-1{
  margin-left: 10px;
}
.devise-forms{
  text-align: center;
  color: white;
}

label{
  color: white;
  font-weight: lighter;
  display: flex;
}

.form-check-input.boolean{
  margin-right: 10px;
}

.form-check{
  display: flex;
}

@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.devise-box{
  background-color: inherit;
  color: white !important;
}

.text-muted{
  color: #DDD;
}

.product-form{
  input{
    width: 100%;
  }

  .product-form-group{
    padding-left: 0px;
    margin-bottom: 10px;
  }
}

.product-form-group{
  .form-check-input{
    height: 52px;
  }
}
