.ml-1{
  margin-left: 10px;
}
.devise-forms{
  text-align: center;
}

label{
  color: $charcoal;
  font-weight: lighter;
  display: flex;
}

.form-check-input.boolean{
  margin-right: 10px;
}

.form-check{
  display: flex;
}

  @-webkit-keyframes autofill {
      to {
          background: $yellow;
      }
  }

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.product-form{
  input{
    width: 100%;
  }

  .product-form-group{
    padding-left: 0px;
    margin-bottom: 10px;
  }
}

.product-form-group{
  .form-check-input{
    height: 52px;
  }
}

.cart-form{
  margin-bottom: 24px;
  label{
    color: black;
  }
  .section-break {
    margin-bottom: 32px;
  }

  #country-select {
    margin-bottom: 16px;
  }
  .shipping-buttons {
    justify-content: space-between;
    margin-top: 24px;
  }
  .shipping-options{
    background-color: rgba(255,230,0, 0.3);
    margin-top: 32px;
    position: relative;
    .contents {
      padding: 24px 32px;
      .space-beneath {
        margin-bottom: 16px;
      }
    }
    .top-left {
      position: absolute;
      margin: 0;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      background-color: white;
      border: 3px solid $yellow;
      top: -25px;
      left: -25px;
    }
    p{
      margin: 0;
    }
  }
}

@media (max-width: 767px){
  .shipping-buttons {
    flex-direction: column-reverse;
    align-items: center;
    .simple-btn {
      margin-bottom: 8px;
    }
  }
}
