.icon-banner{
  display: flex;
  margin-top: 50px;
}

.icon-card{
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.icons{
  display: flex;
  flex-direction: column;
}

.column{
  flex: 1 50%;
}

.sub-column{
  flex: 1 0 25%;
}
