.review-section {
  display: flex;
  justify-content: center;
  .review-column {
    .review-card {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      max-width: 500px;
      transition: 0.5s;
      .review-content {
        display: flex;
        align-items: center;
        padding: 32px;
      }
      a {
        color: black;
        transition: 0.5s;
        font-size: 14px;
      }
      .review-image {
        width: 80px;
      }
      .review-text {
        padding-left: 32px;
        margin-right: 10px;
        p {
          margin: 0;
          font-weight: lighter;
        }
        h4 {
          margin-top: 0;
          margin-bottom: 8px;
          font-size: 20px;
          font-weight: 500;
        }
        .link-box {
          margin: 8px 0;
        }
      }
      .review-more-info {
        font-size: 14px;
        padding-left: 16px;
        color: rgba(0,0,0,0.4);
        margin-top: -24px;
        margin-bottom: 16px;
        font-style: italic;
      }
      .review-more-info:focus {
        outline: none;
      }
    }
    .review-card:hover {
      h4{
        transition: 0.1s;
        color: $yellow;
      }
      border-bottom: 1px solid $yellow;
      a {
        color: $yellow;
      }
    }
  }
}



// .review-card{
//   display: flex;
//   justify-content: center;
//   // finetune
//   margin-left: -20px;
//   .review-image-gap{
//     margin-right: 30px;
//     height: 85px;

//   }
//   .review-text{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     // keeps cards in line
//     min-width: 312px;
//     h4{
//       font-size: 18px;
//       font-weight: bold;
//       margin-bottom: 3px;
//     }
//     p{
//       font-size: 15px;
//       margin-bottom: 3px;
//     }
//     #position{
//       font-weight: lighter
//       // THIN
//     }
//   }
// }
// // Media queries
// @media(min-width: 1000px){
//   .review-card .review-image-gap{
//     margin-right: 70px;
//   }
// }

// // @media(max-width: 992px){
// //   .review-card .review-text {
// //     min-width: 250px
// //   }
// // }

// // @media(max-width: 992px){
// //   .review-card .review-text {
// //     min-width: 250px
// //   }
// // }

// @media(max-width: 650px){
//   .review-card .review-text{
//     max-width: 200px;
//     min-width: 0px;
//   }
// }

// @media(max-width: 700px){
//   .review-card{
//     .review-text{
//       // min-width: 200px;
//     }

//     .review-image-gap{
//       height: 85px;
//     }
//     .review-text{
//       h4{
//         font-size: 18px;
//         font-weight: bolder;
//       }
//       #position{
//         font-style: italic;
//       }
//     }
//   }
// }


