.simple-btn {
  border: 1px solid black;
  padding: 0 29px;
  height: 40px;
  font-weight: bold;
  color: black;
  font-size: 15px;
  background-color: transparent;
  transition: 0.1s;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.simple-btn:hover {
  border-color: $yellow;
  color: $yellow;
  #pad-right {
    border-color: $yellow;
  }
}

.no-hover:hover{
  border-color: black !important;
}
