@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: url("https://res.cloudinary.com/dq2kcu9ey/image/asset/c_scale,h_42,f_auto,q_auto:best/logo_text-e9d469b277c58c431e6572f094a973fb.png") no-repeat 0 0;
// For that override game
#header h1.site_title {
  background-position-x: -15px !important;
  background-position-y: 2px !important;
}
@import "active_skin";
