// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
// @import "bootstrap-select";

body{
  padding-right: 0px;
  font-family: $helvetica;
}

#devise-css{
  padding-top:10px;
  margin-bottom: 25px;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: $charcoal;
}

a:hover, a:focus{
  text-decoration: none;
}

.yellow-hover{
  &:hover{
    p, h4, a{
      color: $yellow !important;
    }
    cursor: pointer;
  }
}
// REVIEW TEXT HOVERS
.margin-bottom-80{
  margin-bottom: 80px;
}


.bold{
  font-weight: bolder;
}

.flex{
  display: flex
}

.cart-flex {
  display: flex;
  justify-content: space-around;
  button {
    border: none;
    background-color: transparent;
    font-size: 12px;
  }
  button:hover {
    color: $yellow;
  }
  button:active {
    color: rgb(245,220,0)
  }
}

.column{
  flex-direction: column;
}

.ajflex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lighter{
  font-weight: lighter;
  p{
    font-weight: lighter;
  }
}


h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

p{
  font-size: 15px;
}


#product-photo{
  transition: opacity 1s ease-in-out;
}

.transparent{
  opacity: 0;
}
