// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
// @import "bootstrap-select";

body{
  padding-right: 0px;
  // font-family: $helvetica;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

p{
  font-size: 15px;
}

.bold{
  font-weight: bolder;
}

#devise-css{
  padding-top:10px;
  margin-bottom: 25px;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: $charcoal;
}

a:hover, a:focus{
  text-decoration: none;
}

.yellow-hover{
  &:hover{
    p, h4, a{
      color: $yellow !important;
    }
    cursor: pointer;
  }
}

.flex{
  display: flex
}

.column{
  flex-direction: column;
}

.ajflex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lighter{
  font-weight: lighter;
  p{
    font-weight: lighter;
  }
}

// .over-container:before {
//   // position: absolute;
//   // top
//       right: -999em;
//     background:  #0b3b52;
//     content: '';
//     display: block;
//     position: absolute;
//     width: 999em;
//     top: 0;
//     bottom: 0;
// }
