// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
// @import "bootstrap-select";

// Short term
body{
  padding-right: 0px;
  font-family: $helvetica;
}

#sign-up-css{
  padding-top:10px;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: $charcoal;
}

a:hover, a:focus{
  text-decoration: none;
}

.yellow-hover{
  &:hover{
    color: $yellow !important;
  }
}
// REVIEW TEXT HOVERS

#content-span:hover h4 {
  color: $yellow !important;
}

#name-span:hover p {
  color: $yellow !important;
}


#position-span:hover p {
  color: $yellow !important;
}

.margin-bottom-100{
  margin-bottom: 100px;
}

// @media(min-width:1000px){
//   .review-text{
//     min-width: 312px;
//   }
// }
