<%=  render "shared/banner" %>
  <%= image_tag "leftline.png", class: "left-line" %>
  <div class="banner-content-flex">
    <h1>Testimonials</h1>
  </div>
  <%= image_tag "rline.png", class: "right-line" %>
  <div class="tab">
    Read more
  </div>
</div>
